.navbar {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    background-color: $second;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 8px;
}
.menu {
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $second;
    width: 40%;
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    transition: height, .5s linear;
}
.menu__link {
    color: $third;
    font-weight: bold;
    padding: 8px 12px;
}
.menu__link:hover {
    background-color: $first;
    border-radius: 12px;
}
.fire {
    color: $third;
    font-size: 28px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: .5s;
}
.rotate {
    transform: rotate(180deg);
}
.look {
    height: 148px;
}
.sociales {
    position: relative;
    top: 8px;
}
.sociales [class*="icon-"] {
    background-color: $third;
    color: #4e6c81;
    font-size: 20px;
    padding: 8px 4px 0 4px;
    border-radius: 50%;
}
@media (min-width: 768px) {
    .fire {
        display: none;
    }
    .menu {
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
        height: auto;
    }
}

